{% extends "base_generic.html" %}

{% block content %}

  {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
  {% endif %}

  {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

  <form method="post" action="{% url 'login' %}" style="padding-top: 10%; text-align: center;">
    {% csrf_token %}
    <h3>Login</h3>
    <div style="margin-top: 2%;">
      {{ form.username.label_tag }}
      {{ form.username }}
    </div>
    <div style="margin: 2%;">
      {{ form.password.label_tag }}
      {{ form.password }}
    </div>
      <!-- <tr style="margin: 2%;">
        <td>{{ form.username.label_tag }}</td>
        <td>{{ form.username }}</td>
      </tr>
      <tr style="margin: 2%;">
        <td>{{ form.password.label_tag }}</td>
        <td>{{ form.password }}</td>
      </tr> -->
      <div style="padding: 1%;padding-left: 6%;">
    <input type="submit" value="login" class="btn btn-primary" />
    <a href="{% url 'signup' %}" class="btn btn-primary">Sign up</a>
    <input type="hidden" name="next" value="{{ next }}" />
    </div>
  </form>
<!-- 
  {# Assumes you setup the password_reset view in your URLconf #}
  <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->

{% endblock %}
