{% extends "base_generic.html" %}

{% block content %}
<div class="card-body">
  <h5 class="card-title">Feedback System Home page</h5>
  <p>Welcome to Portal, a website developed by <em>Team Code Brigade</em>!</p>
  <p>The Portal currently has the following record counts:</p>
  <ul class="list-group">
    <li class="list-group-item"><strong>Colleges:</strong> {{ num_colleges }}</li>
    <li class="list-group-item"><strong>Total number of Lecturers:</strong> {{ num_lecturers }}</li>
    {% comment %} <li class="list-group-item"><strong>jobs available:</strong> {{ num_instances_available }}</li>
    <li class="list-group-item"><strong>Companies:</strong> {{ num_companies }}</li> {% endcomment %}
  </ul>
</div>
{% endblock %}
