{% extends "base_generic.html" %}

 {% block content %}
 {% load static %} 

 {% comment %} <style>
   .dissapear{
    display:none;
  }
  .appear{
    display:block;
  }
 </style> {% endcomment %}

<div id="content" class="card-body" style="padding: 10%;text-align:center;">
  <h5 class="card-title">Feedback System Home page</h5>
  <p>Welcome to Portal, a website developed by <em>Team Code Brigade</em>!</p>
  <p>The Portal currently has the following record counts:</p>
  <ul class="list-group">
    <li class="list-group-item"><strong>Colleges:</strong> {{ num_colleges }}</li>
    <li class="list-group-item"><strong>Total number of Lecturers:</strong> {{ num_lecturers }}</li>
  </ul>
</div>

{% comment %} <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src={% static "/assets/img/billq.jpeg" %} class="d-block img-fluid " alt="..." 
      style="height:70vh;width:100vw">
      <div class="carousel-caption d-none d-md-block">
        <h5>First slide label</h5>
        <p>Some representative placeholder content for the first slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src={% static "/assets/img/final.jpg" %} class="d-block img-fluid" alt="..." 
      style="height:70vh;width:100vw">
      <div class="carousel-caption d-none d-md-block">
        <h5>Second slide label</h5>
        <p>Some representative placeholder content for the second slide.</p>
      </div>
    </div>
    <div class="carousel-item">
      <img src={% static "/assets/img/matters.jpeg" %} class="d-block img-fluid" alt="..." 
      style="height:70vh;width:100vw">
      <div class="carousel-caption d-none d-md-block">
        <h5>Third slide label</h5>
        <p>Some representative placeholder content for the third slide.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> {% endcomment %}
  
  <!-- <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-7 pt-5 pt-lg-0 order-2 order-lg-1 d-flex align-items-center">
        <div data-aos="zoom-out">
          <h1>Build Your Landing Page With <span>Bootstlander</span></h1>
          <h2>We are team of talented designers making websites with Bootstrap</h2>
          <div class="text-center text-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 order-1 order-lg-2 hero-img" data-aos="zoom-out" data-aos-delay="300">
        {% load static %}
        <img src="{% static 'assets/img/hero-img.png' %}" class="img-fluid animated" alt="">
      </div>
    </div>
  </div> -->


<script>
  
  {% comment %} var content=document.getElementById("content")
  console.log(content)
  content.classList.add("dissapear");
  var temp=document.getElementById("carouselExampleCaptions")

  console.log(temp)

  function makevisible() {
    content.classList.remove("dissapear");
    temp.classList.add("dissapear")
    console.log("made visible");
  }

  const myTimeout = setTimeout(makevisible, 15000); {% endcomment %}


</script>

{% endblock %}