.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

.card{
    text-align: center;
    height:100%;
}

.custom-font-navbar{
    color: black;
	font-style: bold;
	font-size: 1.5em;
}

.nodots{
    list-style-type: none;
}