{% extends "base_generic.html" %}

{% block content %}
 <div class="card-body" style="padding:10%;text-align:center;">
  <h5 class="card-title"><strong>UNIVERSITIES</strong></h1>
  {% if filter_college_list %}
  <ul class="list-group">
    {% for college in filter_college_list %}
      <li class="list-group-item">
        <a class="btn btn-primary" href="{{ college.get_absolute_url }}">{{ college.name }}</a>
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no colleges.</p>
  {% endif %}
 <div>
{% endblock %}
