{% extends "base_generic.html" %}

{% block content %}
 <div class="card-body">
  <h5 class="card-title">Faculty name: <span style="font-size:30px;font-weight:500">{{ lecturer.name }}</span></h5>
  <br>
  <div class="table-responsive">
    <table class="table table-sm">
      <tbody>
          <tr>
            <td><strong>College:</strong></td>
            <td> <a class="btn btn-primary" href="{{lecturer.college.get_absolute_url}}">{{ lecturer.college }}</a></td>
          </tr>
          <tr>
            <td><strong>Department:</strong></td>
            <td> {{ lecturer.department }}</td>
          </tr>
          <tr>
            <td><strong>Rating:</strong></td>
            <td>{{ lecturer.rating }}</td>
          </tr>
          <tr>
            <td><strong>Faculty Feedback:</strong></td>
            <td><a class="btn btn-primary" href="{% url 'feedback-to-lecturer' pk=lecturer.id %}">click here</a></td>
          </tr>
          <tr>
            <td><a class="btn btn-primary" href="{% url 'pie-chart' pk=lecturer.id %}">show rating</a></td>
          </tr>
      </tbody>
    </table> 
  </div>
</div>
{% endblock %}