{% extends "base_generic.html" %}

{% block content %}
 <div class="card-body">
  <h5 class="card-title">Title: {{ lecturer.name }}</h5>

  <p><strong>College:</strong> <a class="btn btn-primary" href="{{lecturer.college.get_absolute_url}}">{{ lecturer.college }}</a></p> <!-- author detail link not yet defined -->
  <p><strong>Department:</strong> {{ lecturer.department }}</p>
  <p><strong>Rating:</strong> {{ lecturer.rating }}</p>

  {% comment %} <div style="margin-left:20px;margin-top:20px">
    <h6>Lecturers</h6>

    {% for jobinst in job.jobinstance_set.all %}
      <hr>
      <p class="{% if jobinst.status == 'a' %}text-success{% elif jobinst.status == 'o' %}text-danger{% else %}text-warning{% endif %}">
        {{ jobinst.get_status_display }}
      </p>
      {% if jobinst.status == 'a' %}
        <p><strong>last date:</strong> {{ jobinst.last_date }}</p>
      {% endif %}
      <p><strong>Location:</strong> {{ jobinst.location }}</p>
      <p class="text-muted"><strong>Id:</strong> {{ jobinst.id }}</p>
    {% endfor %}
  </div> {% endcomment %}
  <p><strong>give feedback:</strong> <a class="btn btn-primary" href="{% url 'feedback-to-lecturer' pk=lecturer.id %}">click here</a></p>
  <br>
  <p><a class="btn btn-primary" href="{% url 'pie-chart' pk=lecturer.id %}">Show chart</a></p> 
</div>
{% endblock %}
